.AppFrame {
    width: 100%;
    min-height: 100vh;
    /*display: flex;*/
    background-color: #0C0D10;
}

.Main {
  flex: 1 1 0%;
  display: flex;
  align-items: stretch;
  min-width: 0;
  max-width: 100%;
  /*padding-right: calc(30px + env(safe-area-inset-right));*/
  padding-bottom: calc(0px + env(safe-area-inset-bottom));
}

.Content {
  padding-bottom: 0;
  flex: 1 1 0%;
  min-width: 0;
  max-width: 100%;
}

.NoBottom {
  .Main {
    padding-bottom: 0;
    margin-bottom: 0;
  }
}

.transform{
  transform: translate3d(100%, 0px, 0px);
}