*{
  margin:0;
  padding:0;
  font-family: "Open Sans", "Helvetica Neue",
  
}
.card1{
  height:750px;
  position: relative;
  background-color: #ffffff;
    padding: 1em;
    margin-bottom: 16px;
    border-radius: 3px;
}

.ref{
  display: flex;
  width:200px;
  height:25px;
  margin-top:-20px;
  flex-wrap: wrap;
  position: relative;
}
.position{
  
  color:#000;
  width:170px;
  height:50px;
  position: absolute;
  left:222px;
  bottom:-225px;
  display: flex;
  flex-wrap:wrap;
  border:1px solid #999;
}
.installtype{
  position: absolute;
  top:228px;
  border:1px solid #fff;
  z-index:2;
  background:#999;
}
.installtype2{
 position: absolute;
  top:228px;
  left:222px;
  border:1px solid #999;
  background:#999;
  z-index:2; 
}
.connectstatus{
  position: absolute;
  top:228px;
  left:418px;
  border:1px solid #999;
  background:#999;
  z-index:2; 
}
.label1{
  position:absolute;
  bottom:-32px;
  left:608.5px;
  font-weight:500;
  font-size:15px;
}
th{
  background:transparent;

height: 25px;
outline: none;
z-index:1;
width:175px;
border-radius:2px;
}
.list{
  background:#999;
  border:0.5px solid #999;
  border-top:none;
  position: absolute;
  z-index:2;
}
.list ol{
  overflow: hidden;
}
.label5{
  position: absolute;
  top:183px;
}
.label6{
  position: absolute;
  left:220px;
  top:183px;
}
.label7{
  position: absolute;
  left:410px;
  top:183px;
}
.label8{
  position: absolute;
  bottom:-75px;
  left:220px;
}
.label3{
  position:absolute;
  bottom:15px;
     left:413.5px;
      font-weight:500;
  font-size:15px;
}
.label4{
  position:absolute;
   bottom:-32px;
     left:413.5px;
      font-weight:500;
  font-size:15px;
}
select{
border:1px solid #999;
height: 25px;
outline: none;
-webkit-appearance: none;
z-index:1;
width:175px;
border-radius:2px;
margin-right:12px;
}
ol{
  
  width:170px;
  height:25px;
  display:block;
  border-bottom:1px solid #000;
}


.title{
  font-size: 28px;
  font-weight:350;
  padding:0px 0px 5px 0;
  border:none;
  display: block;
  border-bottom: 1px solid #999;
  height:38px;
  width:1150px;

}
.label2{
  position: absolute;
  top:-18px;
  z-index:1;
  font-weight: 500;
  left:0px;
}
.relative{
  position: relative;
  margin-bottom: 0px;
  margin-right:20px;
  margin-bottom:15px;
}
.input2{
background:transparent;
border:1px solid #999;
height: 25px;
outline: none;
z-index:1;
width:175px;
border-radius:2px;
}
b{
  width:1050px;
  height:10px;
  margin-top:-7px;
  margin-bottom: 30px;
  font-size:20px;
  font-weight:400;
}
.inputs2{
  margin-top: -20px;
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
  width:1050px;
  height: 215px;
}
.buttons{
margin-left: 400px;
}
.button1{
  width:68px;
  height:28px;
  margin:0 20px;
  font-weight:500;
  border:none;
  outline:none;
   background:#0ad;
   font-size:17px;
   padding:0 5px;
   border-radius:3px;
   box-sizing: border-box;
}
.inputs3{
  margin-top: -25px;
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
  
  width:1050px;
  height: 195px;
}
.inputs{
  margin-top: -10px;
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
  width:1050px;
  height: 240px;
}
.menu.active{
  transform: translateX(-100%);
}

.content{
  background:linear-gradient(to right, #0388E5 0%, #07BDF4 100%);;
  height:9vh;
}

.AddMeter{
  position: absolute;
  padding:20px;
  top:0vh;
  display: flex;
  flex-wrap: wrap;
  width: 1040px;
  height:83vh;
}